<h2>Pong Versions</h2>
<table class="table">
    <thead>

    </thead>
    <tbody>
        <tr>
            <td>Full Move</td>
            <td>
                <a asp-controller="FullMove" asp-action="game" class="btn btn-primary">Go</a>&nbsp;
            </td>
        </tr>
        <tr>
            <td>Remote Play</td>
            <td>
                <a asp-controller="RemotePlay" asp-action="game" class="btn btn-default">New</a>
            </td>
        </tr>
        <tr>
            <td>Remote Play 2</td>
            <td>
                <a asp-controller="RemotePlay2" asp-action="game" class="btn btn-default">New</a>
            </td>
        </tr>
    </tbody>
</table>